
<div>

<h2><%= @restaurant.name %></h2>

<p>
<%= @restaurant.address %>
</p>
<p>
<%= @restaurant.city%> <%= @restaurant.state %>, <%= @restaurant.zipcode%>
</p>


</div>
<% if !@restaurant.reviews.empty? %>

  <h3>Reviews:</h3>
  <div>
    <% @restaurant.reviews.each do |review| %>
      <p><%= review.review_value %>- <%= review.body %></p>
    <% end %>
<% end %>

</div>

<%= link_to "Add a review for #{@restaurant.name}", new_restaurant_review_path(@restaurant) %>

