
<div>

<h2><%= @restaurant.name %></h2>

<p>
<%= @restaurant.address %>
</p>
<p>
<%= @restaurant.city%> <%= @restaurant.state %>, <%= @restaurant.zipcode%>
</p>

</div>
<h3>Reviews:</h3>
<div>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.rating %> - <%= review.body %></p>
  <% end %>
</div>
